body{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 40px;
    background-color: black;
}
.calculator-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    padding: 10px;
}
.calculator{
    height: 500px;
    width: 400px;
    border: 3px solid white;
}
.cal-buttons{
    border-radius: 30px ;
    text-align: center;
    cursor: pointer;
    color: white;
}
.cal-buttons:hover{
    background-color: yellow;
    color: black;
}
.input{
    width: 395px;
    background-color: wheat;
}